---
- name: Install dependencies
  apt:
    name:
      - curl
      - wget
      - tar
    state: present
    update_cache: yes

- name: Download Vector binary
  get_url:
    url: "https://packages.timber.io/vector/{{ vector_version }}/vector-{{ vector_version }}-x86_64-unknown-linux-gnu.tar.gz"
    dest: "/tmp/vector.tar.gz"

- name: Create directories
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - /opt/vector
    - /etc/vector

- name: Extract Vector
  unarchive:
    src: "/tmp/vector.tar.gz"
    dest: "/opt/vector"
    remote_src: yes

- name: Install Vector binary
  copy:
    src: "/opt/vector/vector-{{ vector_version }}/bin/vector"
    dest: "/usr/local/bin/vector"
    mode: '0755'
    remote_src: yes

- name: Configure Vector
  template:
    src: vector.yaml.j2
    dest: /etc/vector/vector.yaml
  notify: restart vector

- name: Create systemd service
  copy:
    dest: /etc/systemd/system/vector.service
    content: |
      [Unit]
      Description=ector
      After=network.target
      
      [Service]
      ExecStart=/usr/local/bin/vector --config /etc/vector/vector.yaml
      Restart=always
      
      [Install]
      Wantedy=multi-user.target

- name: Enable and start Vector
  systemd:
    name: vector
    state: started
    enabled: yes
    daemon_reload: yes
