---
- name: Install dependencies
  apt:
    name:
      - curl
      - wget
      - tar
    state: present
    update_cache: yes

- name: Download Vector binary
  get_url:
    url: "https://packages.timber.io/vector/{{ vector_version }}/vector-{{ vector_version }}-x86_64-unknown-linux-gnu.tar.gz"
    dest: "/tmp/vector.tar.gz"
    timeout: 60

- name: Create Vector directories
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - /opt/vector
    - /etc/vector

- name: Extract Vector
  unarchive:
    src: "/tmp/vector.tar.gz"
    dest: "/opt/vector"
    remote_src: yes
    creates: "/opt/vector/vector-{{ vector_version }}/bin/vector"

- name: Create Vector binary symlink
  file:
    src: "/opt/vector/vector-{{ vector_version }}/bin/vector"
    dest: "/usr/local/bin/vector"
    state: link

- name: Configure Vector
  template:
    src: vector.yaml.j2
    dest: /etc/vector/vector.yaml
  notify: restart vector

- name: Create Vector systemd service
  template:
    src: vector.service.j2
    dest: /etc/systemd/system/vector.service

- name: Start Vector service
  systemd:
    name: vector
    state: started
    enabled: yes
    daemon_reload: yes
