---
- name: Download Vector binary archive
  get_url:
    url: "https://packages.timber.io/vector/{{ vector_version }}/vector-{{ vector_version }}-x86_64-unknown-linux-gnu.tar.gz"
    dest: "/tmp/vector.tar.gz"
    checksum: "sha256:{{ vector_checksum | default(omit) }}"

- name: Create Vector installation directory
  file:
    path: "{{ vector_install_dir }}"
    state: directory

- name: Extract Vector archive
  unarchive:
    src: "/tmp/vector.tar.gz"
    dest: "{{ vector_install_dir }}"
    remote_src: yes
    creates: "{{ vector_install_dir }}/vector-{{ vector_version }}/bin/vector"

- name: Create symlink to Vector binary
  file:
    src: "{{ vector_install_dir }}/vector-{{ vector_version }}/bin/vector"
    dest: "/usr/local/bin/vector"
    state: link

- name: Create Vector config directory
  file:
    path: /etc/vector
    state: directory

- name: Configure Vector
  template:
    src: vector.yaml.j2
    dest: /etc/vector/vector.yaml
  notify: restart vector

- name: Create systemd service for Vector
  template:
    src: vector.service.j2
    dest: /etc/systemd/system/vector.service

- name: Enable and start Vector service
  systemd:
    name: vector
    state: started
    enabled: yes
    daemon_reload: yes
