port = {{ lighthouse_port }}
address = "0.0.0.0"
clickhouse-url = "http://{{ clickhouse_host }}:{{ clickhouse_port }}"
clickhouse-user = "{{ clickhouse_user }}"
clickhouse-password = "{{ clickhouse_password }}"
clickhouse-database = "{{ clickhouse_database }}"
