sources:
  clickhouse_log:
    type: file
    include:
      - /var/log/clickhouse-server/clickhouse-server.log
    read_from: beginning

sinks:
  clickhouse_metrics:
    type: clickhouse
    inputs:
      - clickhouse_log
    endpoint: http://{{ clickhouse_host }}:{{ clickhouse_port }}
    database: {{ clickhouse_database }}
    table: {{ clickhouse_metrics_table }}
    skip_unknown_fields: true
    compression: gzip
